<section id="footer">
  <div class="container-fluid">
    <footer class="text-center text-lg-start text-dark" style="background-color: #000">
     
      <!-- Section: Links  -->
      <section id="footer-links">
        <div class="container-fluid text-left text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-2">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h1 class="fw-bold text-white" style="font-size: 2rem;">EkkDigitalVyapar.</h1>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #fff; height: 2px" />
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>

              <div class="my-5">
                <header class="fw-bold py-2 text-white">Get connected with us on social networks:</header>
                <div>
                  <a href="/" class="me-4">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a href="/" class="me-4">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="/" class="me-4">
                    <i class="fab fa-google"></i>
                  </a>
                  <a href="/" class="me-4">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="" class="me-4">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-white text-uppercase fw-bold">Products</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #fff; height: 2px" />
              <p>
                <a href="#!" class="text-decoration-none">MDBootstrap</a>
              </p>
              <p>
                <a href="#!" class="text-decoration-none">MDWordPress</a>
              </p>
              <p>
                <a href="#!" class="text-decoration-none">BrandFlow</a>
              </p>
              <p>
                <a href="#!" class="text-decoration-none">Bootstrap Angular</a>
              </p>
              
              <h6 class="text-light text-uppercase mt-5 fw-bold">Products</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #fff; height: 2px" />
              <p>
                <a href="#!" class="text-decoration-none">MDBootstrap</a>
              </p>
              <p>
                <a href="#!" class="text-decoration-none">MDWordPress</a>
              </p>
              <p>
                <a href="#!" class="text-decoration-none">BrandFlow</a>
              </p>
              <p>
                <a href="#!" class="text-decoration-none">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold text-white">Useful links</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #fff; height: 2px" />
              <p>
                <a href="#!" class="text-decoration-none">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-decoration-none">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-decoration-none">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-decoration-none">Help</a>
              </p>
              <p class="nav-item">
                <a class="nav-link fw-bolder" href="/Partner">Partner With Us</a>
              </p>
            
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold text-white">Contact</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #fff; height: 2px" />
              <p><i class="fas fa-home mr-3 text-secondary"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3 text-secondary"></i> info@example.com</p>
              <p><i class="fas fa-phone mr-3 text-secondary"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3 text-secondary"></i> + 01 234 567 89</p>    
              
              <div class="image-footer mt-6">
                <img src="/digital.webp" alt="" width="100%">
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
          </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center fw-bold text-secondary mt-4">
        © 2023 Copyright:
        <a class="text-light fw-bold text-decoration-none" href="/">EkkDigitalVyapar.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

  </div>
</section>
<script src="/index.js"></script>
</body>

</html>