<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" class="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/faviLogo.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap" rel="stylesheet">
    <title>EkkDigitalVyapar | One Bucket For every Problem.</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>

</head>

<body>
    <section id="navbar">
        <div class="container-fluid fixed">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand brand-logo text-white" href="/"><img src="/EDV-LOGO.webp" alt=""> EkkDigitalVyapar.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown dropdown-hover position-static">
                            <a class="nav-link dropdown-toggle fw-bolder" href="#" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                style="color: #0083ff!important;">
                                Expertise
                            </a>
                            <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdownMenuLink" style="border-top-left-radius: 0;
                            border-top-right-radius: 0;
                          ">

                                <div class="container">
                                    <div class="row my-4 d-flex justify-content-between">
                                        <div class="col-md-6 col-lg-2 mb-3 mb-lg-0">
                                            <a class="nav-link text-white fw-bolder p-1 py-3"
                                                href="/Eccomerce-Consultancy">Ecommerce
                                                Marketplace Consultancy</a>
                                            <div class="list-group list-group-flush">
                                                <a href="/Eccomerce-Consultancy"
                                                    class="list-group-item list-group-item-action">Meesho</a>
                                                <a href="/Eccomerce-Consultancy"
                                                    class="list-group-item list-group-item-action">Flipkart</a>
                                                <a href="/Eccomerce-Consultancy"
                                                    class="list-group-item list-group-item-action">Amazon</a>
                                                <a href="/Eccomerce-Consultancy"
                                                    class="list-group-item list-group-item-action">Myntra</a>
                                                <a href="/Eccomerce-Consultancy"
                                                    class="list-group-item list-group-item-action">Jiomart</a>
                                                <a href="/Eccomerce-Consultancy"
                                                    class="list-group-item list-group-item-action">Ajio</a>
                                                <a href="/Eccomerce-Consultancy"
                                                    class="list-group-item list-group-item-action">Mirraw</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2 mb-3 mb-lg-0">
                                            <a class="nav-link text-white fw-bolder p-3" href="/Digital-Marketing">Digital
                                                Marketing</a>
                                            <div class="list-group list-group-flush">
                                                <a href="/Digital-Marketing"
                                                    class="list-group-item list-group-item-action">Instagram
                                                    Handelling</a>
                                                <a href="/Digital-Marketing"
                                                    class="list-group-item list-group-item-action">Facebook
                                                    Handelling</a>
                                                <a href="/Digital-Marketing"
                                                    class="list-group-item list-group-item-action">Business
                                                    Relative Blogs</a>
                                                <a href="/Digital-Marketing"
                                                    class="list-group-item list-group-item-action">SEO
                                                    Service</a>
                                                <a href="/Digital-Marketing"
                                                    class="list-group-item list-group-item-action">Google
                                                    Marketing</a>
                                                <a href="/Digital-Marketing"
                                                    class="list-group-item list-group-item-action">Youtube
                                                    Marketing</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2 mb-3 mb-md-0">
                                            <a class="nav-link text-white fw-bolder p-3" href="/Influencer-Marketing">Influencer
                                                Marketing</a>
                                            <div class="list-group list-group-flush">
                                                <a href="/Influencer-Marketing"
                                                    class="list-group-item list-group-item-action">Top Insta
                                                    Influencer Collabs</a>
                                                <a href="/Influencer-Marketing"
                                                    class="list-group-item list-group-item-action">Top Youtube
                                                    Influencer Collabs</a>
                                                <a href="/Influencer-Marketing"
                                                    class="list-group-item list-group-item-action">Product
                                                    Photoshoot</a>
                                                <a href="/Influencer-Marketing"
                                                    class="list-group-item list-group-item-action">Live
                                                    Stream</a>
                                                <a href="/Influencer-Marketing"
                                                    class="list-group-item list-group-item-action">Product
                                                    Reviews</a>
                                                <a href="/Influencer-Marketing"
                                                    class="list-group-item list-group-item-action">ROI Driven
                                                    Marketing</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <a class="nav-link text-white fw-bolder p-3" href="/Web-Dev">Web Design &
                                                Development</a>
                                            <div class="list-group list-group-flush">
                                                <a href="/Web-Dev"
                                                    class="list-group-item list-group-item-action">Enhanced UI/UX
                                                    Designs</a>
                                                <a href="/Web-Dev" class="list-group-item list-group-item-action">Custom
                                                    Web
                                                    Development</a>
                                                <a href="/Web-Dev" class="list-group-item list-group-item-action">Custom
                                                    Web App
                                                    Development</a>
                                                <a href="/Web-Dev" class="list-group-item list-group-item-action">Custom
                                                    App
                                                    Development</a>
                                                <a href="/Web-Dev"
                                                    class="list-group-item list-group-item-action">Eccomerce
                                                    Store Development</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <a class="nav-link text-white fw-bolder p-3" href="/Reco">Business
                                                Reconciliation</a>
                                            <div class="list-group list-group-flush">
                                                <a href="/Reco" class="list-group-item list-group-item-action">Business
                                                    Reports</a>
                                                <a href="/Reco" class="list-group-item list-group-item-action">Balance
                                                    Sheets</a>
                                                <a href="/Reco" class="list-group-item list-group-item-action">Inventory
                                                    Reports</a>
                                                <a href="/Reco" class="list-group-item list-group-item-action">P/L
                                                    Reports</a>
                                                <a href="/Reco" class="list-group-item list-group-item-action">Growth
                                                    Reports</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Blogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Career">Career Options</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/About-us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Contact">Contact</a>
                        </li>
                        <a href="/contact"
                            class="btn btn-primary mx-lg-5 fw-bolder border border-1 rounded-pill border-primary text-white">Get
                            a Quote!</a>
                    </ul>
                </div>
            </nav>
        </div>
    </section>