<%- include ("header.ejs")%>

<section id="banner" class="pt-5 pb-5">
    <div class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis" style="background-color: #000;">
            <div class="row">
                <div class="col-lg-8 px-0">
                    <h1 class="display-4 fst-italic text-capitalize text-white">Partner-With-Us</h1>
                    <p class="lead my-3 text-white">Do you have any questions? Please do not hesitate to contact us
                        directly. Our team will come back to you within a matter of hours to help you.</p>
                </div>
                <div class="col-lg-4 px-0">
                    <img src="/main-ai.svg" class="img-fluid border border-1 border-light rounded-circle"
                        alt="image-of-ideas-human" width="60%">
                </div>
            </div>
            <a class="btn btn-outline-light btn-lg" href="#contact-form">To the Form</a>
        </div>
    </div>
</section>

<section id="contact-form">
    <div class="container contact-form-box">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <h1 class="navbar-brand contact-logo">EDV</h1>
            </div>
            <span id="success" class="fw-bolder text-center text-capitalize p-2" style="color: #0083ff;"></span>
            <div class="col-12 col-md-12 cl-lg-6 contact-form">
                <form id="myForm" class="row g-2" name="submit-to-google-sheet">
                    <div class="col-md-6 w-50">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" name="firstName" class="form-control" id="firstName" required>
                    </div>
                    <div class="col-md-6 w-50">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="lastName" required>
                    </div>
                    <div class="col-md-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                    </div>
                    <div class="col-md-12">
                        <label for="contactNumber" class="form-label">Contact No.</label>
                        <input type="tel" name="contactNumber" class="form-control" id="contactNum" required>
                    </div>
                    <div class="col-md-12">
                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea required>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-outline-dark btn-lg fw-bolder">Sign Up!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    
// form script
  const scriptURL = 'https://script.google.com/macros/s/AKfycbzTh-m3i2J2ryEdyvooIlIX0DQnYDAyzpsBTboqRjMCUp6jWO9QMyx8nqenMMguiRiZ/exec'
  const form = document.forms['submit-to-google-sheet']
  const success = document.getElementById("success") 
  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => {
        success.innerHTML = "Thanks for providing your query!";
        setTimeout(()=>{
          success.innerHTML = "";
        }, 5000)
        form.reset();
      })
      .catch(error => console.error('Error!', error.message))
  });
</script>

<%- include ("footer.ejs")%>