<%- include ("header.ejs")%>

<section id="banner">
    <div class="container">
        <div class="container">
            <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis border border-light"
                style="border-radius: 50px!important; text-align: center;">
                <div>
                    <h1 class="display-4 fst-italic text-capitalize">Business Reconciliation</h1>
                    <p class="lead my-3">Do you have any questions? Please do not hesitate to contact us
                        directly. Our team will come back to you within a matter of hours to help you.</p>
                </div>
                <a class="btn btn-outline-light btn-lg" href="/contact">To the Form</a>
            </div>
        </div>
        <!-- <div class="col-lg-4 px-0">
            <img src="/main-ai.svg" class="img-fluid border border-1 border-light rounded-circle"
                alt="image-of-ideas-human" width="60%">
        </div> -->
        <div class="container-fluid text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officia non officiis, voluptatibus natus laudantium aperiam ratione quae nemo sit deserunt sequi laborum aut consequuntur iste tenetur quis qui adipisci. Amet culpa cum architecto sint, exercitationem cupiditate accusamus veritatis deserunt alias autem iusto fuga ullam laborum nemo expedita ea libero. Fugit, quas. Minus iure molestias natus esse deleniti veniam autem corrupti consequatur quis adipisci architecto eius, sint rem quae id. Libero, unde porro fugiat iusto perferendis explicabo, voluptas sapiente blanditiis reprehenderit fugit eos amet odit doloribus nam accusantium asperiores praesentium animi natus soluta saepe suscipit quisquam. Odio facilis itaque autem ipsum non, nihil aliquam. Quae, id. Optio aperiam cum possimus vel quod maiores officiis quam, impedit quos iusto ducimus ab soluta voluptatem molestias fuga illo tempora atque! Sint necessitatibus enim dignissimos at, excepturi non minus eligendi saepe quas vitae perferendis cumque deleniti dolore aliquid. Nobis accusantium autem, dignissimos dicta esse voluptas? Optio ea cupiditate cum natus aut voluptas vitae quas beatae esse, animi consectetur iure aliquam, veritatis exercitationem et, aliquid quo dolore! Inventore, illo repudiandae cum sint dicta consequuntur quidem quaerat? Voluptate, quod! Esse nisi qui ipsa, quibusdam dolore exercitationem adipisci molestiae, praesentium dignissimos reprehenderit minus doloribus eius corporis! Ipsam odit, dignissimos quod similique nobis illo voluptatum officiis fugit rerum. Eaque eius corporis repellendus omnis commodi sunt optio nisi esse accusantium. Nulla eos obcaecati fugiat ea similique hic, dolorem doloribus vel distinctio veritatis soluta accusamus minima! Explicabo soluta commodi earum sint, nostrum excepturi magnam optio eum cupiditate sunt qui quo voluptas? Veritatis, commodi esse? Nulla alias culpa quis consequuntur itaque fugiat quasi architecto atque perferendis aspernatur magni ducimus facilis asperiores quas, sunt provident consequatur consectetur cumque. Inventore deleniti quas porro necessitatibus facilis numquam! Alias tempore assumenda non adipisci debitis culpa porro a corporis! Cum recusandae accusantium quidem. Accusamus doloribus ea, repudiandae odit, tempora aspernatur vitae soluta laboriosam sit alias enim expedita saepe exercitationem. Deserunt molestiae, enim perspiciatis suscipit facere dolorem nihil commodi voluptatibus nobis! Cum possimus et deserunt itaque? Enim minima fugit corrupti. Reprehenderit hic, earum voluptatum excepturi suscipit accusamus praesentium? Rerum debitis laudantium et.
        </div>
        <hr class="text-light py-5">
    </div>
</section>



<%- include ("footer.ejs")%>